@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:#000000;
    --foreground: #fff;
  }
}

body {
  color: #ffffff;
  background: #000000;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 50px;
  margin-right: 50px;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
